@import url('https://fonts.googleapis.com/css2? família=Azeret+Mono:wght@500&família=B612+Mono&família=Inconsolata&família=Marcelo&família=Marciano+Mono:wght@600&família=PT+Mono&família=Filósofo:wght@700&família=Roboto+Mono&família=Ropa+Sans&família=Ubuntu+ Condensado&display=swap');
* {
    margin: 0; padding: 0;               
}
body{
    width: 100%;
    background-color: #ddf3ee;
    color: rgb(39, 39, 39);
    font-size: 17.5px;
    font-family: 'Azeret Mono', monospace;
}
#mainbox{
    display: inline-flex;
    width: 100%;
}
#box1{
    background-color: rgb(248, 253, 252);
    margin: 6%;
    margin-left: 14%;
    padding: 35px;
    width: 20%;
    height: 0%;
    border-radius: 10px; 
    box-shadow: 2px 3px 5px 3px rgb(181, 212, 200); 
}
#box{
    text-align: center;
    border: solid rgb(206, 65, 65);
    border-width: 2px;
    border-radius: 4px;
    font-family: 'Marcellus', serif;
    font-size: 20px;
    line-height: 39px;
}
#title1{
    font-size: 11px;
    letter-spacing: 3px;
    cursor: alias;
}
.buttom{
    background-color: #278163;
    border: solid #22795c;
    border-width: 4px;
    border-radius: 2px;
    color: white;
    padding: 13px 22px;
    font-size: 16px;
    font-family: 'Azeret Mono', monospace;
    word-spacing: -2px;
}
.buttom:hover{
    background-color: #6fbe9d;
    border: solid #c8ffea;
    border-width: 4px;
    cursor: pointer;
    transition-duration: 0.2s;
}
span{
    color: rgb(192, 8, 8);
}
#box2{
    width: 30%;
    margin-top: 7%;
    text-align: left;
    height: 1%;
}
#box3{
    border-radius: 4px;
    padding: 9px;
    background-color: #bee9dd;
}
#regras{
    font-size: 18px;
    color: rgb(196, 23, 11);
    font-family: 'B612 Mono', monospace;
    text-align: right;
}
.titles{
    font-family: 'B612 Mono', monospace;
    padding-top: 12px;
}
.titles2{
    padding-top: 10px;
    text-align: left;
}
#borderland{
    margin-left: 7%;
    margin-top: 14%;
    height: 1%;
    color: #74b6a0;
}
h5{
    color: rgb(61, 61, 61);
}
i{
    --fa-animation-duration: 3s;
}
