* {
    margin: 0; padding: 0;               
}
body{
    background-color: #000000;
    color: rgb(39, 39, 39);
    font-size: 17.5px;
    font-family: 'Azeret Mono', monospace;
    text-align: center; 
}
#box{
    display: flex;
    flex-direction:row;
    column-gap: 66px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
button{
    background-color: #1c0909;
    border: solid #1e0000;
    border-width: 4px;
    border-radius: 2px;
    color: white;
    padding: 13px 22px;
    font-size: 16px;
    font-family: 'Azeret Mono', monospace;
    letter-spacing: 1px;
    box-shadow: 0px 0px 2px 1px #fe0000; 
}

button:hover{
    background-color: #f10606;
    border: solid #5d0000;
    border-width: 4px;
    cursor: pointer;
    transition-duration: 0.2s;
    box-shadow: 0px 0px 2px 1px rgb(56, 0, 0); 
}
@media screen and (max-width: 560px){
    #box{
        flex-direction:column;
        row-gap: 60px;
        padding-left: 14%;
    }
}